* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	color: white;
	background: linear-gradient(to bottom, #1a1a1a, #000000);
}

#txt_input {
	padding: 10px;
	border: none;
	border-radius: 20px;
	resize: none;
	background-color: #666666;
	box-shadow: 0 0 25px #007bff;
	font-size: 2rem;
	height: 60vh;
	width: 60vw;
}

#txt_input:focus {
	outline: none;
}

#word_cnt {
	height: 20vh;
	aspect-ratio: 1/1;
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
	}

	#txt_input {
		width: 90vw;
		height: 60vh;
		box-shadow: none;
	}
}
